* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 75%;
    min-height: 700px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.game__cards-places,
.game__cards-draw {
    display: flex;
    align-items: center;
    height: 45%;
}

.game__cards-places {
    justify-content: center;
}

.game__cards-draw {
    justify-content: space-between;
}

.game__card {
    height: 280px;
    width: 200px;
    border: 2px solid black;
    margin: 0 2rem;
    box-shadow: 2px 2px 8px 2px black;
    border-radius: 10px;
}

.game__card-slot {
    position: relative;
}

.game__card-slot.active {
    animation: scale;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.game__card-slot.active:hover {
    box-shadow: 2px 2px 8px 2px gold;
    border: 2px solid gold;
    /* cursor: pointer; */
}

.game__card-slot.active:hover>div {
    box-shadow: none;
    border: none;
}

.game__card-drag,
.game__card-draggable {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

.game__card-drag {
    position: relative;
}

.game__card-draggable {
    position: absolute;
    box-shadow: 3px 3px 1.5px 2px black;
    background-color: white;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
}

.game__card-draw {
    width: 200px;
    background-image: url(../images/card\ back\ black.png);
    background-size: contain;
    cursor: pointer;
}

.game__card-draw:hover {
    box-shadow: 4px 4px 8px 2px black;
}

.game__shuffle-btn,
.game__shuffle-btn:disabled {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    font-variant: small-caps;
}

.game__shuffle-btn:disabled {
    cursor: not-allowed;
}

.game__shuffle-btn {
    cursor: pointer;
}

.game__shuffle-btn {}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}